<section id="buy" class="buy">
  <div class="buy__header section__header">
    <div class="container">
      <h3 class="title">HOW TO BUY</h3>
    </div>
  </div>
  <div class="container">
    <h2 class="buy__title title">
      <span>New here?</span>
      <span class="buy__title_colored">Buying $SHAK is easy!</span>
    </h2>
    <div class="buy__text main-text">
      <p>Sells and transfers have a 10% tax which is used to fuel the growth of the Shakita-Inu ecosystem.</p>
    </div>
    <div class="buy-questions">
      <div class="buy-questions__item question">
        <div class="question__toggle-btn">
          <img src="img/icons/close.svg" alt="close">
        </div>
        <div class="question__header">
          <h4 class="title">
            Step 1: Download a Wallet
          </h4>
        </div>
        <div class="question__body">
          <div class="main-text question__body-text">
            <p>You can download the Metamask app here or Trust Wallet app here. You can also use Metamask on desktop but
              you need to use Google Chrome and download this extension.You can also use any other Bep20 compatible
              wallet in which you own the private keys.Do not send to an exchange wallet unless $SHAK is officially
              listed on that exchange and has a deposit address.</p>
          </div>
        </div>
      </div>
      <div class="buy-questions__item question">
        <div class="question__toggle-btn">
          <img src="img/icons/close.svg" alt="close">
        </div>
        <div class="question__header">
          <h4 class="title">
            Step 2: Connect Wallet
          </h4>
        </div>
        <div class="question__body">
          <div class="main-text question__body-text">
            <p>You can download the Metamask app here or Trust Wallet app here. You can also use Metamask on desktop but
              you need to use Google Chrome and download this extension.You can also use any other Bep20 compatible
              wallet in which you own the private keys.Do not send to an exchange wallet unless $SHAK is officially
              listed on that exchange and has a deposit address.</p>
          </div>
        </div>
      </div>
      <div class="buy-questions__item question">
        <div class="question__toggle-btn">
          <img src="img/icons/close.svg" alt="close">
        </div>
        <div class="question__header">
          <h4 class="title">
            Step 3: Get Binance Coins ($BNB)
          </h4>
        </div>
        <div class="question__body">
          <div class="main-text question__body-text">
            <p>You can download the Metamask app here or Trust Wallet app here. You can also use Metamask on desktop but
              you need to use Google Chrome and download this extension.You can also use any other Bep20 compatible
              wallet in which you own the private keys.Do not send to an exchange wallet unless $SHAK is officially
              listed on that exchange and has a deposit address.</p>
          </div>
        </div>
      </div>
      <div class="buy-questions__item question">
        <div class="question__toggle-btn">
          <img src="img/icons/close.svg" alt="close">
        </div>
        <div class="question__header">
          <h4 class="title">
            Step 4: Swap $BNB for $SHAK!
          </h4>
        </div>
        <div class="question__body">
          <div class="question__body-text main-text question__body-text">
            <p>You can download the Metamask app here or Trust Wallet app here. You can also use Metamask on desktop but
              you need to use Google Chrome and download this extension.You can also use any other Bep20 compatible
              wallet in which you own the private keys.Do not send to an exchange wallet unless $SHAK is officially
              listed on that exchange and has a deposit address.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
