<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a href="#" class="header__logo">
        <img src="img/logo.svg" alt="logo akita">
      </a>
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__elem">
            <a href="" class="header__link">Why shak</a>
          </li>
          <li class="header__elem">
            <a href="" class="header__link">Tokenomics</a>
          </li>
          <li class="header__elem">
            <a href="" class="header__link">How to buy</a>
          </li>
          <li class="header__elem">
            <a href="" class="header__link">Moon map</a>
          </li>
          <li class="header__elem">
            <a href="" class="header__link">Contract</a>
          </li>
        </ul>
      </nav>
      <div class="header__handle">
        <button type="button" class="header__btn btn">
          <span>Buy $SHAK</span>
        </button>
        <div class="burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="mobile-menu">
  <div class="mobile-menu__container container">
    <button type="button" class="mobile-menu__btn btn">
      <span>Buy $SHAK</span>
    </button>
  </div>
</div>
