<section class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__content">
        <h1 class="hero__title title">The Rise of Shakita Inu!</h1>
        <div class="hero__text main-text">
          <p>SHAK ($Shak) is a fun, community-focused</p>
          <p>cryptocurrency with a game in development and unique tokenomics to fuel it’s growth.</p>
          <p>Every hodler is automatically entered into the BIG $SHAK LOTTO where prizes are given out at price
            milestones to randomly selected holders.</p>
        </div>
        <div class="hero__btns">
          <button class="hero__btns-btn btn">Buy $SHAK</button>
          <button class="hero__btns-btn btn btn_transparent">Price chart</button>
        </div>
      </div>
      <div class="hero__img">
        <img src="img/hero_acita.png" alt="Meta Acita seat">
      </div>
    </div>
  </div>
</section>
