<section class="join">
  <div class="container">
    <h2 class="title join__title">Join the $SHAK family!</h2>
    <div class="join__wrapper">
      <div class="join__img">
        <img src="img/join_acita.svg" alt="Meta Akita">
      </div>
      <div class="join__form">
        <form action="">
          <a href="#" class="btn join__btn">
            Join Telegram
          </a>
          <h3 class="join__form-subscribe">Subscribe to project updates</h3>
          <div class="join__form-input">
            <input type="text" placeholder="E-MAIL">
            <button class="join__form-btn btn-reset">
              <img src="img/icons/arrow.svg" alt="Arrow">
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
