<section id="tokenomics" class="tokemonics">
  <div class="tokemonics__header section__header">
    <div class="container">
      <h3 class="title">TOKENOMICS</h3>
    </div>
  </div>
  <div class="container">
    <h2 class="tokemonics__title title">Shakita in numbers</h2>
    <div class="tokemonics__text main-text">Sells and transfers have a 10% tax which is used to fuel the growth of the
      Shakita-Inu ecosystem.</div>
    <button class="tokemonics__btn btn">Buy $SHAK</button>
    <ul class="tokemonics__list">
      <li class="tokemonics__list-elem">
        <h4 class="tokemonics__list-title title">Buying tax</h4>
        <div class="tokemonics__list-descr">
          <p>0% forever</p>
        </div>
      </li>
      <li class="tokemonics__list-elem">
        <h4 class="tokemonics__list-title title">Selling tax</h4>
        <div class="tokemonics__list-descr">
          <p>1% Game Rewards</p>
          <p>2% NFT Farm</p>
          <p>3% Marketing</p>
          <p>4% Burn</p>
        </div>
      </li>
      <li class="tokemonics__list-elem">
        <h4 class="tokemonics__list-title title">Liquidity</h4>
        <div class="tokemonics__list-descr">
          <p>Locked. Click here to to see for yourself.</p>
        </div>
      </li>
      <li class="tokemonics__list-elem">
        <h4 class="tokemonics__list-title title">Supply</h4>
        <div class="tokemonics__list-descr">
          <p>Started at 9.9 Billion</p>
          <p>BIG Burns constantly!</p>
          <p>Deflationary</p>
        </div>
      </li>
    </ul>
    <div class="tokemonics__wrapper">
      <div class="tokemonics-item">
        <div class="tokemonics-item__img" style="max-width: 350px">
          <img src="img/token_acita_1.svg" alt="Meta acita first">
        </div>
        <div class="tokemonics-item__descr">
          <h4 class="tokemonics-item__title title">SHAK'S UNFAIR ADVANTAGE</h4>
          <div class="tokemonics-item__text main-text">
            <p>SHAK's unique tokenomics have been designed to allow him to reach a price of $1/token before his father
              SHIB and maybe even before Dogecoin!</p>
          </div>
        </div>
      </div>
      <div class="tokemonics-item">
        <div class="tokemonics-item__img">
          <img src="img/token_acita_2.svg" alt="Meta acita run">
        </div>
        <div class="tokemonics-item__descr">
          <h4 class="tokemonics-item__title title">100% FAIR LAUCHED</h4>
          <div class="tokemonics-item__text main-text">
            <p>SHAK is a good sport and that's why his token was a fair launch with no developer or team allocation. The
              developer had to buy the tokens at the same price as everybody else.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
