<section class="why">
  <div class="section__header why__header">
    <div class="container">
      <h3 class="title">Why shak</h3>
    </div>
  </div>
  <div class="container">
    <div class="why-item">
      <div class="why-item__content">
        <h4 class="why-item__subtitle title">BUILT FOR GROWTH</h4>
        <h2 class="why-item__title title">Every transaction fuels growth &development</h2>
        <div class="why-item__text main-text">
          <p>SHAK aims to grow bigger and stronger than any other member of his dog meme family and this is why he has a
            10% fee on each transaction.</p>
        </div>
      </div>
      <div class="why-item__img">
        <img src="img/why_acita_1.svg" alt="Meta Akita Sport">
      </div>
    </div>
    <div class="why-item why-item_reverse">
      <div class="why-item__content why-item__content_2">
        <h4 class="why-item__subtitle title">COMMUNITY</h4>
        <h2 class="why-item__title title">All big decisions are guided by the community</h2>
        <div class="why-item__text main-text">
          <p>The Shakita Inu community have helped raise SHAK since he was just a baby. After guiding him to 2000
            holders and an all time high of x30 from initial launch they decided to rebrand and relaunch…</p>
        </div>
        <button class="btn btn_transparent">Buy $SHAK</button>
      </div>
      <div class="why-item__img">
        <img src="img/why_acita_2.svg" alt="Meta Akita Idea">
      </div>
    </div>
    <div class="why-item">
      <div class="why-item__content why-item__content_3">
        <h4 class="why-item__subtitle title">UTILITY</h4>
        <h2 class="why-item__title title">SHAK ain't ameme token</h2>
        <div class="why-item__text main-text">
          <p>We've been developing a play-to-earn game where you can have fun while earning SHAK tokens! The game will
            be released in Q4 of 2021. We're also developing an NFT farm where you can stake your SHAK and farm NFTs!
            The NFT farm drops in 2022. The long-term SHAK vision is to build a thriving ecosystem around this awesome
            token.</p>
        </div>
      </div>
      <div class="why-item__img">
        <img src="img/why_acita_3.svg" alt="Meta Akita with macbook">
      </div>
    </div>
  </div>
</section>
